openapi: 3.0.0
info:
  title: batches retainer-invoices API
  description: Batches help you track inventory items by batch numbers, manufacturing dates, and expiration dates.
  contact: {}
  version: 1.0.0
servers:
- url: https://www.zohoapis.com/inventory/v1
  description: API Endpoint
tags:
- name: retainer-invoices
  description: Retainer-Invoices Module
paths:
  /retainerinvoices:
    x-mcp-group:
    - Retainer Invoices
    parameters:
    - $ref: '#/components/parameters/organization_id'
    post:
      tags:
      - retainer-invoices
      operationId: create_retainer_invoice
      summary: Create a retainerinvoice
      description: Create a retainer invoice for your customer.
      parameters:
      - name: ignore_auto_number_generation
        in: query
        description: Ignore auto invoice number generation for this invoice. This mandates the invoice number. Allowed values <code>true</code> and <code>false</code>
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-a-retainerinvoice-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-a-retainerinvoice-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoInventory.invoices.CREATE
    get:
      tags:
      - retainer-invoices
      operationId: list_retainer_invoices
      summary: List a retainer invoices
      description: List all retainer invoices with pagination.
      parameters:
      - name: print
        in: query
        description: Print the exported pdf.
        required: false
        schema:
          type: boolean
      - name: sort_column
        in: query
        description: 'Sort retainer invoices.Allowed Values: <code>customer_name</code>, <code>retainer invoice_number</code>, <code>date</code>, <code> due_date</code>, <code>total</code>, <code>balance</code> and  <code>created_time</code>'
        required: false
        schema:
          type: string
        example: created_time
      - name: filter_by
        in: query
        description: 'Filter invoices by any status or payment expected date.Allowed Values: <code> Status.All</code>, <code>Status.Sent</code>, <code> Status.Draft</code>, <code>Status.OverDue</code>, <code>Status.Paid</code>, <code>Status.Void</code>, <code>Status.Unpaid</code>, <code>Status.PartiallyPaid</code>,<code> Status.Viewed</code> and <code>Date.PaymentExpectedDate</code>'
        required: false
        schema:
          type: string
        example: ''
      - name: sort_order
        in: query
        description: The order for sorting
        required: false
        schema:
          type: string
        example: D
      - name: page
        in: query
        description: Number of pages
        required: false
        schema:
          type: integer
        example: 1
      - name: per_page
        in: query
        description: Number of records to be fetched per page. Default value is 200.
        required: false
        schema:
          type: integer
          default: 200
        example: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-a-retainer-invoices-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoInventory.invoices.READ
  /retainerinvoices/{retainerinvoice_id}:
    x-mcp-group:
    - Retainer Invoices
    parameters:
    - name: retainerinvoice_id
      in: path
      schema:
        type: string
      required: true
      description: Unique identifier of the retainer invoice.
      example: 982000000567114
    - $ref: '#/components/parameters/organization_id'
    put:
      tags:
      - retainer-invoices
      operationId: update_retainer_invoice
      summary: update a retainerinvoice
      description: Update an existing invoice.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-a-retainerinvoice-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-a-retainerinvoice-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoInventory.invoices.UPDATE
    get:
      tags:
      - retainer-invoices
      operationId: get_retainer_invoice
      summary: Get a retainer invoice
      description: Get the details of a retainer invoice.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-a-retainer-invoice-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoInventory.invoices.READ
    delete:
      tags:
      - retainer-invoices
      operationId: delete_retainer_invoice
      summary: Delete a retainer invoice
      description: Delete an existing retainer invoice. Invoices which have payment or credits note applied cannot be deleted.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-a-retainer-invoice-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoInventory.invoices.DELETE
  /retainerinvoices/{retainerinvoice_id}/status/sent:
    x-mcp-group:
    - Retainer Invoices
    parameters:
    - name: retainerinvoice_id
      in: path
      schema:
        type: string
      required: true
      description: Unique identifier of the retainer invoice.
      example: 982000000567114
    - $ref: '#/components/parameters/organization_id'
    post:
      tags:
      - retainer-invoices
      operationId: mark_retainer_invoice_as_sent
      summary: Mark a retainer invoice as sent
      description: Mark a draft retainer invoice as sent.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mark-a-retainer-invoice-as-sent-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoInventory.invoices.CREATE
  /retainerinvoices/{retainerinvoice_id}/templates/{template_id}:
    x-mcp-group:
    - Retainer Invoices
    parameters:
    - name: retainerinvoice_id
      in: path
      schema:
        type: string
      required: true
      description: Unique identifier of the retainer invoice.
      example: 982000000567114
    - name: template_id
      in: path
      schema:
        type: string
      required: true
      description: Unique identifier of the retainer invoice template.
      example: 982000000000143
    - $ref: '#/components/parameters/organization_id'
    put:
      tags:
      - retainer-invoices
      operationId: update_retainer_invoice_template
      summary: Update retainer invoice template
      description: Update the pdf template associated with the retainer invoice.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-retainer-invoice-template-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoInventory.invoices.UPDATE
  /retainerinvoices/{retainerinvoice_id}/status/void:
    x-mcp-group:
    - Retainer Invoices
    parameters:
    - name: retainerinvoice_id
      in: path
      schema:
        type: string
      required: true
      description: Unique identifier of the retainer invoice.
      example: 982000000567114
    - $ref: '#/components/parameters/organization_id'
    post:
      tags:
      - retainer-invoices
      operationId: mark_retainer_invoice_as_void
      summary: Void a retainer invoice
      description: Mark an invoice status as void. Upon voiding, the payments and credits associated with the retainer invoices will be unassociated and will be under customer credits.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/void-a-retainer-invoice-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoInventory.invoices.CREATE
  /retainerinvoices/{reatinerinvoice_id}/status/draft:
    x-mcp-group:
    - Retainer Invoices
    parameters:
    - name: reatinerinvoice_id
      in: path
      schema:
        type: string
      required: true
      description: Unique identifier of the retainer invoice.
      example: '982000000567114'
    - $ref: '#/components/parameters/organization_id'
    post:
      tags:
      - retainer-invoices
      operationId: mark_retainer_invoice_as_draft
      summary: Mark as draft
      description: 'Mark a voided retainer invoice as draft. '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mark-as-draft-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoInventory.invoices.CREATE
  /retainerinvoices/{reatinerinvoice_id}/submit:
    x-mcp-group:
    - Retainer Invoices
    parameters:
    - name: reatinerinvoice_id
      in: path
      schema:
        type: string
      required: true
      description: Unique identifier of the retainer invoice.
      example: '982000000567114'
    - $ref: '#/components/parameters/organization_id'
    post:
      tags:
      - retainer-invoices
      operationId: submit_retainer_invoice
      summary: Submit a retainer invoice for approval
      description: Submit a retainer invoice for approval.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/submit-a-retainer-invoice-for-approval-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoInventory.invoices.CREATE
  /retainerinvoices/{reatinerinvoice_id}/approve:
    x-mcp-group:
    - Retainer Invoices
    parameters:
    - name: reatinerinvoice_id
      in: path
      schema:
        type: string
      required: true
      description: Unique identifier of the retainer invoice.
      example: '982000000567114'
    - $ref: '#/components/parameters/organization_id'
    post:
      tags:
      - retainer-invoices
      operationId: approve_retainer_invoice
      summary: Approve a retainer invoice.
      description: Approve a retainer invoice.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/approve-a-retainer-invoice-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoInventory.invoices.CREATE
  /retainerinvoices/{retainerinvoice_id}/email:
    x-mcp-group:
    - Retainer Invoices
    parameters:
    - name: retainerinvoice_id
      in: path
      schema:
        type: string
      required: true
      description: Unique identifier of the retainer invoice.
      example: 982000000567114
    - $ref: '#/components/parameters/organization_id'
    post:
      tags:
      - retainer-invoices
      operationId: email_retainer_invoice
      summary: Email a retainer invoice
      description: Email a retainer invoice to the customer. Input json string is not mandatory. If input json string is empty, mail will be send with default mail content.
      parameters:
      - name: send_customer_statement
        in: query
        description: Send customer statement pdf a with email.
        required: false
        schema:
          type: boolean
        example: ' '
      - name: send_attachment
        in: query
        description: Send the retainer invoice attachment a with the email.
        required: false
        schema:
          type: boolean
        example: ' '
      - name: attachments
        in: query
        description: Files to be attached to the email
        required: false
        schema:
          type: string
          format: binary
        example: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-a-retainer-invoice-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/email-a-retainer-invoice-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoInventory.invoices.CREATE
    get:
      tags:
      - retainer-invoices
      operationId: get_retainer_invoice_email_content
      summary: Get retainer invoice email content
      description: Get the email content of a retainer invoice.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-retainer-invoice-email-content-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoInventory.invoices.READ
  /retainerinvoices/{retainerinvoice_id}/address/billing:
    x-mcp-group:
    - Retainer Invoices
    parameters:
    - name: retainerinvoice_id
      in: path
      schema:
        type: string
      required: true
      description: Unique identifier of the retainer invoice.
      example: 982000000567114
    - $ref: '#/components/parameters/organization_id'
    put:
      tags:
      - retainer-invoices
      operationId: update_retainer_invoice_billing_address
      summary: Update billing address
      description: Updates the billing address for this retainer invoice alone.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-billing-address-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-billing-address-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoInventory.invoices.UPDATE
  /retainerinvoices/templates:
    x-mcp-group:
    - Retainer Invoices
    parameters:
    - $ref: '#/components/parameters/organization_id'
    get:
      tags:
      - retainer-invoices
      operationId: list_retainer_invoice_templates
      summary: List retainer invoice templates
      description: Get all retainer invoice pdf templates.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-retainer-invoice-templates-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoInventory.invoices.READ
  /retainerinvoices/{retainerinvoice_id}/attachment:
    x-mcp-group:
    - Retainer Invoices
    parameters:
    - name: retainerinvoice_id
      in: path
      schema:
        type: string
      required: true
      description: Unique identifier of the retainer invoice.
      example: 982000000567114
    - $ref: '#/components/parameters/organization_id'
    get:
      tags:
      - retainer-invoices
      operationId: get_retainer_invoice_attachment
      summary: Get a retainer invoice attachment
      description: Returns the file attached to the retainer invoice.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-a-retainer-invoice-attachment-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoInventory.invoices.READ
    post:
      tags:
      - retainer-invoices
      operationId: add_attachment_to_retainer_invoice
      summary: Add attachment to a retainer invoice
      description: Attach a file to an invoice.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/add-attachment-to-a-retainer-invoice-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/add-attachment-to-a-retainer-invoice-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoInventory.invoices.CREATE
  /retainerinvoices/{retainerinvoice_id}/documents/{document_id}:
    x-mcp-group:
    - Retainer Invoices
    parameters:
    - name: retainerinvoice_id
      in: path
      schema:
        type: string
      required: true
      description: Unique identifier of the retainer invoice.
      example: 982000000567114
    - name: document_id
      in: path
      schema:
        type: string
      required: true
      description: Unique identifier of the retainer invoice document.
      example: '982000000562114'
    - $ref: '#/components/parameters/organization_id'
    delete:
      tags:
      - retainer-invoices
      operationId: delete_retainer_invoice_attachment
      summary: Delete an attachment
      description: Delete the file attached to the retainer invoice.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-an-attachment-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoInventory.invoices.DELETE
  /retainerinvoices/{retainerinvoice_id}/comments:
    x-mcp-group:
    - Retainer Invoices
    parameters:
    - name: retainerinvoice_id
      in: path
      schema:
        type: string
      required: true
      description: Unique identifier of the retainer invoice.
      example: 982000000567114
    - $ref: '#/components/parameters/organization_id'
    get:
      tags:
      - retainer-invoices
      operationId: list_retainer_invoice_comments
      summary: List retainer invoice comments & history
      description: Get the complete history and comments of a retainer invoice.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-retainer-invoice-comments-and-history-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoInventory.invoices.READ
    post:
      tags:
      - retainer-invoices
      operationId: create_retainer_invoice_comment
      summary: Add comment
      description: Add a comment for a retainer invoice.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/add-comment-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/add-comment-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoInventory.invoices.CREATE
  /retainerinvoices/{retainerinvoice_id}/comments/{comment_id}:
    x-mcp-group:
    - Retainer Invoices
    parameters:
    - name: retainerinvoice_id
      in: path
      schema:
        type: string
      required: true
      description: Unique identifier of the retainer invoice.
      example: 982000000567114
    - name: comment_id
      in: path
      schema:
        type: string
      required: true
      description: Unique identifier of the comment.
      example: 982000000567019
    - $ref: '#/components/parameters/organization_id'
    delete:
      tags:
      - retainer-invoices
      operationId: delete_retainer_invoice_comment
      summary: Delete a comment
      description: Delete a retainer invoice comment.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-a-comment-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoInventory.invoices.DELETE
    put:
      tags:
      - retainer-invoices
      operationId: update_retainer_invoice_comment
      summary: Update comment
      description: Update an existing comment of a retainer invoice.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-comment-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-comment-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoInventory.invoices.UPDATE
components:
  schemas:
    transaction_id:
      type: string
      example: '982000000567204'
    payment_expected_date:
      type: string
      description: The date on which the payment is expected to be received for the retainer invoice.
      example: ' '
    update-comment-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: The comment has been updated.
          readOnly: true
        comment:
          type: object
          properties:
            comment_id:
              $ref: '#/components/schemas/comment_id'
            retainerinvoice_id:
              $ref: '#/components/schemas/retainerinvoice_id'
            description:
              $ref: '#/components/schemas/description'
            commented_by_id:
              $ref: '#/components/schemas/commented_by_id'
            commented_by:
              $ref: '#/components/schemas/commented_by'
            date:
              $ref: '#/components/schemas/date'
            date_description:
              $ref: '#/components/schemas/date_description'
            time:
              $ref: '#/components/schemas/time'
            comment_type:
              $ref: '#/components/schemas/comment_type'
    terms:
      description: The terms added below expressing gratitude or for conveying some information.
      type: string
      example: Terms & Conditions apply
    contact_persons_associated:
      description: Contact Persons associated with the retainer invoice.
      type: array
      items:
        type: object
        properties:
          contact_person_id:
            $ref: '#/components/schemas/contact_person_id'
          contact_person_name:
            $ref: '#/components/schemas/contact_person_name'
          first_name:
            $ref: '#/components/schemas/first_name'
          last_name:
            $ref: '#/components/schemas/last_name'
          contact_person_email:
            $ref: '#/components/schemas/contact_person_email'
          phone:
            $ref: '#/components/schemas/phone'
          mobile:
            $ref: '#/components/schemas/mobile'
          communication_preference:
            $ref: '#/components/schemas/communication_preference'
    taxes:
      description: List of the taxes levied
      type: array
      items:
        type: object
        properties:
          tax_name:
            $ref: '#/components/schemas/tax_name'
          tax_amount:
            $ref: '#/components/schemas/tax_amount'
    mark-as-draft-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: Status of retainer invoice changed from void to draft.
          readOnly: true
    zip:
      type: string
      example: 94134
    user_name:
      type: array
      items:
        type: string
      example: John Smith
    page:
      description: Number of pages
      type: integer
      example: 1
    sub_total:
      description: The sub total of the all items
      type: number
      format: float
      example: 153
    applied_filter:
      description: The filer applied for sorting
      type: string
      example: Status.All
    void-a-retainer-invoice-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: Retainer Invoice status has been changed to 'Void'.
          readOnly: true
    documents:
      description: documents attached to the retainer invoice
      type: array
      items:
        type: string
      example: []
    date:
      description: The date of creation of the retainer invoice.
      type: string
      example: '2013-11-17'
    additional_field1:
      description: 'Paypal payment method. Allowed Values: <code>standard</code> and <code>adaptive</code>'
      type: string
      example: standard
    item_total:
      description: The total amount of the line items
      type: number
      format: float
      example: 120
    per_page:
      description: Per page values
      type: integer
      example: 200
    custom_fields:
      description: Custom fields for a retainer invoice.
      type: array
      items:
        type: object
        properties:
          customfield_id:
            $ref: '#/components/schemas/customfield_id'
          show_on_pdf:
            $ref: '#/components/schemas/show_on_pdf'
          value:
            $ref: '#/components/schemas/value'
          label:
            $ref: '#/components/schemas/label'
    approve-a-retainer-invoice-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: You have approved the Retainer Invoice.
          readOnly: true
    value:
      type: string
      description: The value of the custom field
      example: value1
    to_mail_ids:
      description: Array of email address of the recipients.
      type: array
      items:
        type: string
      example:
      - willsmith@bowmanfurniture.com
    currency_symbol:
      description: The currency symbol in which the retainer invoice is created.
      type: string
      example: USD
    create-a-retainerinvoice-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: The retainer invoice has been created.
          readOnly: true
        retainerinvoice:
          $ref: '#/components/schemas/retainerinvoice-response'
    contact_person_email:
      description: Email ID of the Contact Person.
      type: string
      example: willsmith@bowmanfurniture.com
    show_on_pdf:
      description: Boolean value to check if the custom field is to be dispplayed on the pdf.
      type: boolean
      example: false
    create-a-retainerinvoice-request:
      required:
      - customer_id
      - line_items
      type: object
      properties:
        customer_id:
          $ref: '#/components/schemas/customer_id'
        reference_number:
          $ref: '#/components/schemas/reference_number'
        date:
          $ref: '#/components/schemas/date'
        contact_persons_associated:
          $ref: '#/components/schemas/contact_persons_associated_payload'
        custom_fields:
          $ref: '#/components/schemas/custom_fields'
        notes:
          $ref: '#/components/schemas/notes'
        terms:
          $ref: '#/components/schemas/terms'
        location_id:
          $ref: '#/components/schemas/location_id'
        line_items:
          description: Line items of a retainer invoice.
          type: array
          items:
            type: object
            properties:
              description:
                $ref: '#/components/schemas/description'
              item_order:
                $ref: '#/components/schemas/item_order'
              rate:
                $ref: '#/components/schemas/rate'
        payment_options:
          $ref: '#/components/schemas/payment_options'
        template_id:
          $ref: '#/components/schemas/template_id'
        place_of_supply:
          $ref: '#/components/schemas/place_of_supply'
    body:
      description: The body of the mail
      type: string
      example: 'Dear Customer,         <br><br><br><br>Thanks for your business.         <br><br><br><br>The retainer invoice RET-00001 is attached with this email.<br><br>Here''s an overview of the invoice for your reference.         <br><br><br><br>Invoice Overview:         <br><br>Invoice  : INV-00001         <br><br>Date : 05 Aug 2013         <br><br>Amount : $541.82         <br><br><br><br>It was great working with you. Looking forward to working with you again.<br><br><br>\nRegards<br>\nZillium Inc<br>\n",'
    list-retainer-invoice-comments-and-history-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: success
          readOnly: true
        comments:
          type: array
          items:
            type: object
            properties:
              comment_id:
                $ref: '#/components/schemas/comment_id'
              retainerinvoice_id:
                $ref: '#/components/schemas/retainerinvoice_id'
              description:
                $ref: '#/components/schemas/description'
              commented_by_id:
                $ref: '#/components/schemas/commented_by_id'
              commented_by:
                $ref: '#/components/schemas/commented_by'
              comment_type:
                $ref: '#/components/schemas/comment_type'
              operation_type:
                $ref: '#/components/schemas/operation_type'
              date:
                $ref: '#/components/schemas/date'
              date_description:
                $ref: '#/components/schemas/date_description'
              time:
                $ref: '#/components/schemas/time'
              transaction_id:
                $ref: '#/components/schemas/transaction_id'
              transaction_type:
                $ref: '#/components/schemas/transaction_type'
    retainerinvoice_number:
      description: 'number of the retainer invoice.Variants: <code>retainerinvoice_number_startswith</code> and <code>retainerinvoice_number_contains</code>. Max-length [100]'
      type: string
      example: RET-00003
    sort_order:
      description: The order for sorting
      type: string
      example: D
    update-billing-address-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: Billing address updated
          readOnly: true
    cc_mail_ids:
      description: Array of email address of the recipients to be cced.
      type: array
      items:
        type: string
      example:
      - peterparker@bowmanfurniture.com
    country:
      type: string
      example: U.S.A
    created_by_id:
      type: string
      example: 14909000000072000
    status:
      description: 'retainer invoice status.Allowed Values: <code>sent</code>, <code>draft</code>, <code>overdue</code>, <code>paid</code>, <code>void</code>, <code>unpaid</code>, <code>partially_paid</code> and <code>viewed</code>'
      type: string
      example: draft
    transaction_type:
      type: string
      example: retainer_payment
    label:
      description: The label of the custom field.
      type: string
      example: Delivery Date
    phone:
      description: Phone Number of the Contact Person
      type: string
      example: +1-925-921-9201
    client_viewed_time:
      description: client viewed time for retainer invoice in client portal.
      type: boolean
      example: true
    get-a-retainer-invoice-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: success
          readOnly: true
        retainerinvoice:
          type: object
          properties:
            retainerinvoice_id:
              $ref: '#/components/schemas/retainerinvoice_id'
            retainerinvoice_number:
              $ref: '#/components/schemas/retainerinvoice_number'
            date:
              $ref: '#/components/schemas/date'
            status:
              $ref: '#/components/schemas/status'
            is_pre_gst:
              $ref: '#/components/schemas/is_pre_gst'
            place_of_supply:
              $ref: '#/components/schemas/place_of_supply'
            project_id:
              $ref: '#/components/schemas/project_id'
            project_name:
              $ref: '#/components/schemas/project_name'
            last_payment_date:
              $ref: '#/components/schemas/last_payment_date'
            reference_number:
              $ref: '#/components/schemas/reference_number'
            customer_id:
              $ref: '#/components/schemas/customer_id'
            customer_name:
              $ref: '#/components/schemas/customer_name'
            contact_persons_associated:
              $ref: '#/components/schemas/contact_persons_associated'
            currency_id:
              $ref: '#/components/schemas/currency_id'
            currency_code:
              $ref: '#/components/schemas/currency_code'
            currency_symbol:
              $ref: '#/components/schemas/currency_symbol'
            exchange_rate:
              $ref: '#/components/schemas/exchange_rate'
            is_viewed_by_client:
              $ref: '#/components/schemas/is_viewed_by_client'
            client_viewed_time:
              $ref: '#/components/schemas/client_viewed_time'
            is_inclusive_tax:
              $ref: '#/components/schemas/is_inclusive_tax'
            location_id:
              $ref: '#/components/schemas/location_id'
            location_name:
              $ref: '#/components/schemas/location_name'
            line_items:
              description: Line items of a retainer invoice.
              type: array
              items:
                type: object
                properties:
                  line_item_id:
                    $ref: '#/components/schemas/line_item_id'
                  description:
                    $ref: '#/components/schemas/description'
                  item_order:
                    $ref: '#/components/schemas/item_order'
                  rate:
                    $ref: '#/components/schemas/rate'
                  bcy_rate:
                    $ref: '#/components/schemas/bcy_rate'
                  tax_id:
                    $ref: '#/components/schemas/tax_id'
                  tax_name:
                    $ref: '#/components/schemas/tax_name'
                  tax_type:
                    $ref: '#/components/schemas/tax_type'
                  tax_percentage:
                    $ref: '#/components/schemas/tax_percentage'
                  item_total:
                    $ref: '#/components/schemas/item_total'
                  location_id:
                    $ref: '#/components/schemas/location_id'
                  location_name:
                    $ref: '#/components/schemas/location_name'
            sub_total:
              $ref: '#/components/schemas/sub_total'
            total:
              $ref: '#/components/schemas/total'
            taxes:
              $ref: '#/components/schemas/taxes'
            payment_made:
              $ref: '#/components/schemas/payment_made'
            payment_drawn:
              $ref: '#/components/schemas/payment_drawn'
            balance:
              $ref: '#/components/schemas/balance'
            allow_partial_payments:
              $ref: '#/components/schemas/allow_partial_payments'
            price_precision:
              $ref: '#/components/schemas/price_precision'
            payment_options:
              $ref: '#/components/schemas/payment_options'
            is_emailed:
              $ref: '#/components/schemas/is_emailed'
            documents:
              $ref: '#/components/schemas/documents'
            billing_address:
              $ref: '#/components/schemas/billing_address'
            shipping_address:
              $ref: '#/components/schemas/shipping_address'
            notes:
              $ref: '#/components/schemas/notes'
            terms:
              $ref: '#/components/schemas/terms'
            custom_fields:
              $ref: '#/components/schemas/custom_fields'
            template_id:
              $ref: '#/components/schemas/template_id'
            template_name:
              $ref: '#/components/schemas/template_name'
            page_width:
              $ref: '#/components/schemas/page_width'
            page_height:
              $ref: '#/components/schemas/page_height'
            orientation:
              $ref: '#/components/schemas/orientation'
            template_type:
              $ref: '#/components/schemas/template_type'
            created_time:
              $ref: '#/components/schemas/created_time'
            last_modified_time:
              $ref: '#/components/schemas/last_modified_time'
            created_by_id:
              $ref: '#/components/schemas/created_by_id'
            attachment_name:
              $ref: '#/components/schemas/attachment_name'
            can_send_in_mail:
              $ref: '#/components/schemas/can_send_in_mail'
    allow_partial_payments:
      description: Boolean to check if partial payments are allowed for the contact
      type: boolean
      example: true
    billing_address:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/address'
        street2:
          $ref: '#/components/schemas/street2'
        city:
          $ref: '#/components/schemas/city'
        state:
          $ref: '#/components/schemas/state'
        zip:
          $ref: '#/components/schemas/zip'
        country:
          $ref: '#/components/schemas/country'
        fax:
          $ref: '#/components/schemas/fax'
    list-a-retainer-invoices-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: success
          readOnly: true
        retainerinvoices:
          type: array
          items:
            type: object
            properties:
              retainerinvoice_id:
                $ref: '#/components/schemas/retainerinvoice_id'
              customer_name:
                $ref: '#/components/schemas/customer_name'
              retainerinvoice_number:
                $ref: '#/components/schemas/retainerinvoice_number'
              customer_id:
                $ref: '#/components/schemas/customer_id'
              status:
                $ref: '#/components/schemas/status'
              reference_number:
                $ref: '#/components/schemas/reference_number'
              project_or_estimate_name:
                $ref: '#/components/schemas/project_or_estimate_name'
              date:
                $ref: '#/components/schemas/date'
              currency_id:
                $ref: '#/components/schemas/currency_id'
              currency_code:
                $ref: '#/components/schemas/currency_code'
              is_viewed_by_client:
                $ref: '#/components/schemas/is_viewed_by_client'
              client_viewed_time:
                $ref: '#/components/schemas/client_viewed_time'
              total:
                $ref: '#/components/schemas/total'
              balance:
                $ref: '#/components/schemas/balance'
              created_time:
                $ref: '#/components/schemas/created_time'
              last_modified_time:
                $ref: '#/components/schemas/last_modified_time'
              is_emailed:
                $ref: '#/components/schemas/is_emailed'
              last_payment_date:
                $ref: '#/components/schemas/last_payment_date'
              has_attachment:
                $ref: '#/components/schemas/has_attachment'
        page_context:
          type: object
          properties:
            page:
              $ref: '#/components/schemas/page'
            per_page:
              $ref: '#/components/schemas/per_page'
            has_more_page:
              $ref: '#/components/schemas/has_more_page'
            report_name:
              $ref: '#/components/schemas/report_name'
            applied_filter:
              $ref: '#/components/schemas/applied_filter'
            sort_column:
              $ref: '#/components/schemas/sort_column'
            sort_order:
              $ref: '#/components/schemas/sort_order'
    get-a-retainer-invoice-attachment-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: success
          readOnly: true
    tax_percentage:
      description: The  percentage of tax levied
      type: number
      format: float
      example: 12.5
    payment_gateways:
      description: Online payment gateways through which payment can be made.
      type: array
      items:
        type: object
        properties:
          configured:
            $ref: '#/components/schemas/configured'
          additional_field1:
            $ref: '#/components/schemas/additional_field1'
          gateway_name:
            $ref: '#/components/schemas/gateway_name'
    can_send_in_mail:
      type: boolean
      description: Indicates whether the retainer invoice can be sent in mail
      example: true
    customer_name:
      description: The name of the customer. Max-length [100]
      type: string
      example: Bowman & Co
    list-retainer-invoice-templates-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: success
          readOnly: true
        templates:
          type: array
          items:
            type: object
            properties:
              template_name:
                $ref: '#/components/schemas/template_name'
              template_id:
                $ref: '#/components/schemas/template_id'
              template_type:
                $ref: '#/components/schemas/template_type'
    communication_preference:
      description: Preferred modes of communication for the contact person at transaction level.
      type: object
      properties:
        is_email_enabled:
          $ref: '#/components/schemas/is_email_enabled'
        is_whatsapp_enabled:
          $ref: '#/components/schemas/is_whatsapp_enabled'
    time:
      type: string
      example: 2:38 AM
    show_comment_to_clients:
      description: Boolean to check if the comment to be shown to the clients
      type: boolean
      example: true
    retainerinvoice_id:
      description: ID of the retainerinvoice
      type: string
      example: 982000000567114
    line_item_id:
      description: The line item id
      type: string
      example: 982000000567021
    currency_id:
      description: The currenct id of the currency
      type: string
      example: 982000000000190
    reference_number:
      description: The reference number of the retainer invoice. Max-length [100]
      type: string
      example: ' '
    comment_id:
      description: ID of the comment
      type: string
      example: 982000000567019
    location_id:
      description: Location ID
      type: string
      example: '460000000038080'
    send_from_org_email_id:
      description: Boolean to trigger the email from the organization's email address
      type: boolean
      example: false
    email_template_id:
      description: Get the email content based on a specific email template. If this param is not inputted, then the content will be based on the email template associated with the customer. If no template is associated with the customer, then default template will be used.
      type: string
    operation_type:
      type: string
      example: Added
    gateway_name:
      description: 'Name of the payment gateway associated with the retainer invoice. E.g. paypal, stripe.Allowed Values: <code>paypal</code>, <code>authorize_net</code>, <code>payflow_pro</code>, <code>stripe</code>, <code>2checkout</code> and <code>braintree</code>'
      type: string
      example: paypal
    is_pre_gst:
      description: Applicable for transactions that fall before july 1, 2017
      type: string
      example: false
    description:
      description: The description of the line items. Max-length [2000]
      type: string
      example: 500GB, USB 2.0 interface 1400 rpm, protective hard case.
    mobile:
      description: Mobile Number of the Contact Person
      type: string
      example: +1-4054439562
    has_attachment:
      description: Boolean retainer invoice has attachment
      type: boolean
      example: true
    payment_drawn:
      description: The amount drawn
      type: number
      format: float
      example: 26.91
    date_description:
      type: string
      example: yesterday
    project_name:
      description: Name of the project
      type: string
    notes:
      description: The notes added below expressing gratitude or for conveying some information.
      type: string
      example: Looking forward for your business.
    currency_code:
      description: The currency code in which the retainer invoice is created.
      type: string
      example: USD
    attachment_name:
      type: string
      example: new file
    add-comment-request:
      type: object
      properties:
        description:
          description: The description of the comment. Max-length [2000]
          type: string
          example: comment added
        payment_expected_date:
          $ref: '#/components/schemas/payment_expected_date'
        show_comment_to_clients:
          $ref: '#/components/schemas/show_comment_to_clients'
    update-billing-address-request:
      type: object
      properties:
        address:
          description: address of the customer
          type: string
          example: "B-1104, 11F, \nHorizon International Tower, \nNo. 6, ZhiChun Road, HaiDian District"
        city:
          description: city of the customer
          type: string
          example: Beijing
        state:
          description: state of the customer
          type: string
          example: Beijing
        zip:
          description: zip of the customer
          type: string
          example: 1000881
        country:
          description: country of the customer
          type: string
        fax:
          description: fax of the customer
          type: string
          example: +86-10-82637827
    last_modified_time:
      description: The time of last modification of the retainer invoice
      type: string
      example: 2013-11-18T02:31:51-0800
    address:
      type: string
      example: Suite 125, McMillan Avenue
    is_inclusive_tax:
      type: boolean
      example: false
    delete-an-attachment-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: Your file is no longer attached to the invoice.
          readOnly: true
    update-comment-request:
      type: object
      properties:
        description:
          description: The comment on a retainer invoice
          type: string
          example: This is a comment.
        show_comment_to_clients:
          $ref: '#/components/schemas/show_comment_to_clients'
    commented_by:
      type: string
      example: John David
    shipping_address:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/address'
        city:
          $ref: '#/components/schemas/city'
        state:
          $ref: '#/components/schemas/state'
        zip:
          $ref: '#/components/schemas/zip'
        country:
          $ref: '#/components/schemas/country'
        fax:
          $ref: '#/components/schemas/fax'
    gateways_configured:
      type: boolean
      example: true
    add-attachment-to-a-retainer-invoice-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: Your file has been attached.
          readOnly: true
    email-a-retainer-invoice-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: Your retainer invoice has been sent.
          readOnly: true
    project_or_estimate_name:
      type: string
      example: new project
    attachment:
      description: The file to be attached. It has to be sent in multipart/formdata
      type: string
      format: binary
    place_of_supply:
      description: Place where the goods/services are supplied to. (If not given, <code>place of contact</code> given for the contact will be taken)
      type: string
      example: TN
      x-node_available_in:
      - in
      x-node_unavailable_in: []
    customer_id:
      description: ID of the customer the retainer invoice has to be created.
      type: string
      example: 982000000567001
    street2:
      type: string
      example: McMillan Avenue
    project_id:
      description: ID of the project
      type: string
      example: 982000000567154
    email:
      description: contact's email id. Maximum length [100]
      type: string
      example: willsmith@bowmanfurniture.com
    has_more_page:
      description: Check if has more pages
      type: boolean
      example: false
    contact_person_name:
      description: Name of the Contact Person
      type: string
      example: David
    update-a-retainerinvoice-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: Retainer Invoice information has been updated.
          readOnly: true
        retainerinvoice:
          type: object
          properties:
            retainerinvoice_id:
              $ref: '#/components/schemas/retainerinvoice_id'
            retainerinvoice_number:
              $ref: '#/components/schemas/retainerinvoice_number'
            date:
              $ref: '#/components/schemas/date'
            status:
              $ref: '#/components/schemas/status'
            is_pre_gst:
              $ref: '#/components/schemas/is_pre_gst'
            place_of_supply:
              $ref: '#/components/schemas/place_of_supply'
            project_id:
              $ref: '#/components/schemas/project_id'
            project_name:
              $ref: '#/components/schemas/project_name'
            last_payment_date:
              $ref: '#/components/schemas/last_payment_date'
            reference_number:
              $ref: '#/components/schemas/reference_number'
            customer_id:
              $ref: '#/components/schemas/customer_id'
            customer_name:
              $ref: '#/components/schemas/customer_name'
            contact_persons_associated:
              $ref: '#/components/schemas/contact_persons_associated'
            currency_id:
              $ref: '#/components/schemas/currency_id'
            currency_code:
              $ref: '#/components/schemas/currency_code'
            currency_symbol:
              $ref: '#/components/schemas/currency_symbol'
            exchange_rate:
              $ref: '#/components/schemas/exchange_rate'
            is_viewed_by_client:
              $ref: '#/components/schemas/is_viewed_by_client'
            client_viewed_time:
              $ref: '#/components/schemas/client_viewed_time'
            is_inclusive_tax:
              $ref: '#/components/schemas/is_inclusive_tax'
            location_id:
              $ref: '#/components/schemas/location_id'
            location_name:
              $ref: '#/components/schemas/location_name'
            line_items:
              description: Line items of an invoice.
              type: array
              items:
                type: object
                properties:
                  line_item_id:
                    $ref: '#/components/schemas/line_item_id'
                  description:
                    $ref: '#/components/schemas/description'
                  item_order:
                    $ref: '#/components/schemas/item_order'
                  rate:
                    $ref: '#/components/schemas/rate'
                  bcy_rate:
                    $ref: '#/components/schemas/bcy_rate'
                  tax_id:
                    $ref: '#/components/schemas/tax_id'
                  tax_name:
                    $ref: '#/components/schemas/tax_name'
                  tax_type:
                    $ref: '#/components/schemas/tax_type'
                  tax_percentage:
                    $ref: '#/components/schemas/tax_percentage'
                  item_total:
                    $ref: '#/components/schemas/item_total'
                  location_id:
                    $ref: '#/components/schemas/location_id'
                  location_name:
                    $ref: '#/components/schemas/location_name'
            sub_total:
              $ref: '#/components/schemas/sub_total'
            total:
              $ref: '#/components/schemas/total'
            taxes:
              $ref: '#/components/schemas/taxes'
            payment_made:
              $ref: '#/components/schemas/payment_made'
            payment_drawn:
              $ref: '#/components/schemas/payment_drawn'
            balance:
              $ref: '#/components/schemas/balance'
            allow_partial_payments:
              $ref: '#/components/schemas/allow_partial_payments'
            price_precision:
              $ref: '#/components/schemas/price_precision'
            payment_options:
              $ref: '#/components/schemas/payment_options'
            is_emailed:
              $ref: '#/components/schemas/is_emailed'
            documents:
              $ref: '#/components/schemas/documents'
            billing_address:
              $ref: '#/components/schemas/billing_address'
            shipping_address:
              $ref: '#/components/schemas/shipping_address'
            notes:
              $ref: '#/components/schemas/notes'
            terms:
              $ref: '#/components/schemas/terms'
            custom_fields:
              $ref: '#/components/schemas/custom_fields'
            template_id:
              $ref: '#/components/schemas/template_id'
            template_name:
              $ref: '#/components/schemas/template_name'
            page_width:
              $ref: '#/components/schemas/page_width'
            page_height:
              $ref: '#/components/schemas/page_height'
            orientation:
              $ref: '#/components/schemas/orientation'
            template_type:
              $ref: '#/components/schemas/template_type'
            created_time:
              $ref: '#/components/schemas/created_time'
            last_modified_time:
              $ref: '#/components/schemas/last_modified_time'
            created_by_id:
              $ref: '#/components/schemas/created_by_id'
            attachment_name:
              $ref: '#/components/schemas/attachment_name'
            can_send_in_mail:
              $ref: '#/components/schemas/can_send_in_mail'
    comment_type:
      type: string
      example: system
    add-attachment-to-a-retainer-invoice-request:
      type: object
      properties:
        can_send_in_mail:
          $ref: '#/components/schemas/can_send_in_mail'
        attachment:
          $ref: '#/components/schemas/attachment'
    submit-a-retainer-invoice-for-approval-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: The Retainer Invoice has been successfully submitted for approval.
          readOnly: true
    exchange_rate:
      description: Exchange rate of the currency.
      type: number
      format: float
      example: 1
    update-a-retainerinvoice-request:
      required:
      - customer_id
      - line_items
      type: object
      properties:
        customer_id:
          $ref: '#/components/schemas/customer_id'
        reference_number:
          $ref: '#/components/schemas/reference_number'
        date:
          $ref: '#/components/schemas/date'
        contact_persons_associated:
          $ref: '#/components/schemas/contact_persons_associated_payload'
        custom_fields:
          $ref: '#/components/schemas/custom_fields'
        notes:
          $ref: '#/components/schemas/notes'
        terms:
          $ref: '#/components/schemas/terms'
        location_id:
          $ref: '#/components/schemas/location_id'
        line_items:
          description: Line items of a retainer invoice.
          type: array
          items:
            type: object
            properties:
              description:
                $ref: '#/components/schemas/description'
              item_order:
                $ref: '#/components/schemas/item_order'
              rate:
                $ref: '#/components/schemas/rate'
        payment_options:
          $ref: '#/components/schemas/payment_options'
        template_id:
          $ref: '#/components/schemas/template_id'
        place_of_supply:
          $ref: '#/components/schemas/place_of_supply'
        project_id:
          $ref: '#/components/schemas/project_id'
    fax:
      type: string
      example: +86-10-82637827
    deprecated_placeholders_used:
      type: array
      items:
        type: string
      example: []
    get-retainer-invoice-email-content-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: success
          readOnly: true
        gateways_configured:
          $ref: '#/components/schemas/gateways_configured'
        deprecated_placeholders_used:
          $ref: '#/components/schemas/deprecated_placeholders_used'
        body:
          $ref: '#/components/schemas/body'
        error_list:
          $ref: '#/components/schemas/error_list'
        subject:
          $ref: '#/components/schemas/subject'
        to_contacts:
          type: array
          items:
            type: object
            properties:
              first_name:
                $ref: '#/components/schemas/first_name'
              selected:
                $ref: '#/components/schemas/selected'
              phone:
                $ref: '#/components/schemas/phone'
              email:
                $ref: '#/components/schemas/email'
              last_name:
                $ref: '#/components/schemas/last_name'
              salutation:
                $ref: '#/components/schemas/salutation'
              contact_person_id:
                $ref: '#/components/schemas/contact_person_id'
              mobile:
                $ref: '#/components/schemas/mobile'
        attachment_name:
          $ref: '#/components/schemas/attachment_name'
        email_template_id:
          $ref: '#/components/schemas/email_template_id'
        file_name:
          $ref: '#/components/schemas/file_name'
        from_emails:
          type: array
          items:
            type: object
            properties:
              user_name:
                $ref: '#/components/schemas/user_name'
              selected:
                $ref: '#/components/schemas/selected'
              email:
                $ref: '#/components/schemas/email'
        customer_id:
          $ref: '#/components/schemas/customer_id'
    update-retainer-invoice-template-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: Retainer Invoice information has been updated.
          readOnly: true
    page_width:
      type: string
      example: 8.27in
    last_name:
      description: Last name of the Contact Person
      type: string
      example: John
    email-a-retainer-invoice-request:
      required:
      - to_mail_ids
      type: object
      properties:
        send_from_org_email_id:
          $ref: '#/components/schemas/send_from_org_email_id'
        to_mail_ids:
          $ref: '#/components/schemas/to_mail_ids'
        cc_mail_ids:
          $ref: '#/components/schemas/cc_mail_ids'
        subject:
          $ref: '#/components/schemas/subject'
        body:
          $ref: '#/components/schemas/body'
    delete-a-comment-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: The comment has been deleted.
          readOnly: true
    created_time:
      description: The time of creation of the retainer invoice
      type: string
      example: 2013-11-18T02:31:51-0800
    item_order:
      description: The order of the line item_order
      type: integer
      example: 1
    template_name:
      type: string
      example: Service - Classic
    is_whatsapp_enabled:
      description: Used to check if WhatsApp communication preference is enabled for the contact person at transaction level.
      type: boolean
      example: true
      x-node_available_in:
      - WhatsApp integration
    payment_made:
      description: The amount paid
      type: number
      format: float
      example: 26.91
    rate:
      description: Rate of the line item.
      type: number
      format: double
      example: 120
    commented_by_id:
      type: string
      example: 982000000554041
    subject:
      description: The subject of the mail
      type: string
      example: 'Retainer Invoice from Zillium Inc (Retainer Invoice#: RET-00001)'
    first_name:
      description: First Name of the Contact Person
      type: string
      example: David
    file_name:
      type: string
      example: RET-00001.pdf
    tax_id:
      description: ID of the tax or tax group applied to the estimate
      type: string
      example: 982000000557028
    contact_persons_associated_payload:
      description: Contact Persons associated with the retainer invoice.
      type: array
      items:
        type: object
        properties:
          contact_person_id:
            $ref: '#/components/schemas/contact_person_id'
          communication_preference:
            $ref: '#/components/schemas/communication_preference'
    last_payment_date:
      description: The last payment date of the retainer invoice
      type: string
      example: ' '
    orientation:
      type: string
      example: portrait
    location_name:
      description: Name of the location.
      type: string
    template_id:
      description: ID of the pdf template associated with the retainer invoice.
      type: string
      example: 982000000000143
    template_type:
      description: The type of template type
      type: string
      example: classic
    balance:
      description: The unpaid amount
      type: string
      example: 40.6
    salutation:
      description: Salutation of the Contact Person
      type: string
      example: Mr
    is_email_enabled:
      description: Used to check if Email communication preference is enabled for the contact person at transaction level.
      type: boolean
      example: true
    city:
      type: string
      example: San Francisco
    price_precision:
      description: The precision value on the price
      type: integer
      example: 2
    is_viewed_by_client:
      description: Boolean is retainer invoice viewed by client in client portal.
      type: boolean
      example: true
    report_name:
      description: The report name
      type: string
      example: Retainer Invoices
    customfield_id:
      type: string
      description: Unique ID of the custom field.
    error_list:
      type: array
      items:
        type: string
      example: []
    selected:
      type: string
      example: false
    total:
      description: The total amount to be paid
      type: string
      example: 40.6
    mark-a-retainer-invoice-as-sent-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: Retainer Invoice status has been changed to Sent.
          readOnly: true
    retainerinvoice-response:
      type: object
      properties:
        retainerinvoice_id:
          $ref: '#/components/schemas/retainerinvoice_id'
        retainerinvoice_number:
          $ref: '#/components/schemas/retainerinvoice_number'
        date:
          $ref: '#/components/schemas/date'
        status:
          $ref: '#/components/schemas/status'
        is_pre_gst:
          $ref: '#/components/schemas/is_pre_gst'
        place_of_supply:
          $ref: '#/components/schemas/place_of_supply'
        project_id:
          $ref: '#/components/schemas/project_id'
        project_name:
          $ref: '#/components/schemas/project_name'
        last_payment_date:
          $ref: '#/components/schemas/last_payment_date'
        reference_number:
          $ref: '#/components/schemas/reference_number'
        customer_id:
          $ref: '#/components/schemas/customer_id'
        customer_name:
          $ref: '#/components/schemas/customer_name'
        contact_persons_associated:
          $ref: '#/components/schemas/contact_persons_associated'
        currency_id:
          $ref: '#/components/schemas/currency_id'
        currency_code:
          $ref: '#/components/schemas/currency_code'
        currency_symbol:
          $ref: '#/components/schemas/currency_symbol'
        exchange_rate:
          $ref: '#/components/schemas/exchange_rate'
        is_viewed_by_client:
          $ref: '#/components/schemas/is_viewed_by_client'
        client_viewed_time:
          $ref: '#/components/schemas/client_viewed_time'
        is_inclusive_tax:
          $ref: '#/components/schemas/is_inclusive_tax'
        location_id:
          $ref: '#/components/schemas/location_id'
        location_name:
          $ref: '#/components/schemas/location_name'
        line_items:
          description: Line items of a retainer invoice.
          type: array
          items:
            type: object
            properties:
              line_item_id:
                $ref: '#/components/schemas/line_item_id'
              description:
                $ref: '#/components/schemas/description'
              item_order:
                $ref: '#/components/schemas/item_order'
              rate:
                $ref: '#/components/schemas/rate'
              bcy_rate:
                $ref: '#/components/schemas/bcy_rate'
              tax_id:
                $ref: '#/components/schemas/tax_id'
              tax_name:
                $ref: '#/components/schemas/tax_name'
              tax_type:
                $ref: '#/components/schemas/tax_type'
              tax_percentage:
                $ref: '#/components/schemas/tax_percentage'
              item_total:
                $ref: '#/components/schemas/item_total'
              location_id:
                $ref: '#/components/schemas/location_id'
              location_name:
                $ref: '#/components/schemas/location_name'
        sub_total:
          $ref: '#/components/schemas/sub_total'
        total:
          $ref: '#/components/schemas/total'
        taxes:
          $ref: '#/components/schemas/taxes'
        payment_made:
          $ref: '#/components/schemas/payment_made'
        payment_drawn:
          $ref: '#/components/schemas/payment_drawn'
        balance:
          $ref: '#/components/schemas/balance'
        allow_partial_payments:
          $ref: '#/components/schemas/allow_partial_payments'
        price_precision:
          $ref: '#/components/schemas/price_precision'
        payment_options:
          $ref: '#/components/schemas/payment_options'
        is_emailed:
          $ref: '#/components/schemas/is_emailed'
        documents:
          $ref: '#/components/schemas/documents'
        billing_address:
          $ref: '#/components/schemas/billing_address'
        shipping_address:
          $ref: '#/components/schemas/shipping_address'
        notes:
          $ref: '#/components/schemas/notes'
        terms:
          $ref: '#/components/schemas/terms'
        custom_fields:
          $ref: '#/components/schemas/custom_fields'
        template_id:
          $ref: '#/components/schemas/template_id'
        template_name:
          $ref: '#/components/schemas/template_name'
        page_width:
          $ref: '#/components/schemas/page_width'
        page_height:
          $ref: '#/components/schemas/page_height'
        orientation:
          $ref: '#/components/schemas/orientation'
        template_type:
          $ref: '#/components/schemas/template_type'
        created_time:
          $ref: '#/components/schemas/created_time'
        last_modified_time:
          $ref: '#/components/schemas/last_modified_time'
        created_by_id:
          $ref: '#/components/schemas/created_by_id'
        attachment_name:
          $ref: '#/components/schemas/attachment_name'
        can_send_in_mail:
          $ref: '#/components/schemas/can_send_in_mail'
    sort_column:
      description: 'Sort retainer invoices.Allowed Values: <code>customer_name</code>, <code>retainer invoice_number</code>, <code>date</code>, <code> due_date</code>, <code>total</code>, <code>balance</code> and  <code>created_time</code>'
      type: string
      example: created_time
    is_emailed:
      description: Boolean check to if the email was sent
      type: string
      example: false
    bcy_rate:
      description: base currency rate
      type: number
      format: float
      example: 120
    payment_options:
      description: Payment options for the retainer invoice, online payment gateways and bank accounts. Will be displayed in the pdf.
      type: object
      properties:
        payment_gateways:
          $ref: '#/components/schemas/payment_gateways'
    tax_amount:
      description: The amount of the tax levied
      type: number
      format: float
      example: 19.13
    add-comment-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: Comments added.
          readOnly: true
    tax_type:
      description: The type of the tax
      type: string
      example: tax
    state:
      type: string
      example: CA
    configured:
      description: Boolean check to see if a payment gateway ahs been configured
      type: boolean
      example: true
    delete-a-retainer-invoice-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: The retainer invoice has been deleted.
          readOnly: true
    page_height:
      type: string
      example: 11.69in
    contact_person_id:
      description: Unique ID of the Contact Person
      type: string
      example: 982000000567003
    tax_name:
      description: The name of the tax
      type: string
      example: VAT
  parameters:
    organization_id:
      name: organization_id
      description: ID of the organization
      in: query
      required: true
      schema:
        type: string
      example: '10234695'
  securitySchemes:
    Zoho_Auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://accounts.zoho.com/oauth/v2/auth
          scopes:
            ZohoInventory.items.CREATE: Create Items
            ZohoInventory.items.READ: Read Items
            ZohoInventory.items.UPDATE: Update Items
            ZohoInventory.items.DELETE: Delete Items
